
.input-placeholder::placeholder {
  color: #fff;
}
button:hover {
  background-color: #282828;
}

.button-style {
  padding: 16px 32px;
  background-color: #fff;
  color: #282828;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.3s;
}
.btn:disabled {
  background-color: #ffffff;
  color: var(--blue-color);
  cursor: not-allowed;
}
.btn:hover {
  background-color: #282828;
  color: #fff;
  color: var(--blue-color);
}

.button-style:active {
  background-color: #e0e0e0;
  transform: scale(0.99);
  color: var(--blue-color);
}
.btn-blue {
  color:var(--blue-color);
}

@media (max-width: 1200px) {
  .button-style {
    padding: 5% 5%;
    background-color: #fff;
    color: #282828;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
  }
  .inputContainer input {
    font-size: 16px;
  }
  .input-placeholder::placeholder {
    font-size: 16px;
  }
}

@media (max-width: 922px) {
  .inputContainer input {
    font-size: 14px;
  }
  .input-placeholder::placeholder {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .inputContainer input {
    font-size: 14px;
  }
  .input-placeholder::placeholder {
    font-size: 14px;
  }
  .button-style {
    padding: 16px 10px;
    font-size: 16px;
  }
  .input {
    padding: 8px 16px; 
  }
}
