.sale_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.sale_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainCategories_contLink {
  width: 100%;
  text-decoration: none;
}
.sale_contLine {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
}
.sale_contLine:hover {
  background-color: transparent;
}
.sale_contLine p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.16px;
  text-align: center;
  color: #8b8b8b;
  white-space: nowrap;
  width: auto;
  height: auto;
  padding: 8px 16px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
.sale_contLine p:hover {
  background-color: #ededed;
}
.mainCategories_line {
  width: 100%;
  border-bottom: 1px solid #dddddd;
}

.sale_flex {
  display: flex;
  gap: 32px;
}
.sale_flex a {
  text-decoration: none;
}



@media (max-width: 922px) {
  .sale_container {
    gap: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .sale_flex {
    gap: 24px;
  }
}

@media (max-width: 480px) {
  .sale_flex {
    display: grid;
    gap: 24px;
  }
}


@media (max-width: 390px) {
  .sale_container {
    padding-bottom: 20px;
    gap: 20px;
  }
}