.categories_cont_nav {
  display: flex;
  align-items: center;
}

.categories_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background-color: var(--breadcrumb-bg);
  border: 1px solid var(--breadcrumb-border);
  transition: background-color 0.3s ease;
}
.breadcrumbLink {
  text-decoration: none;
  color: var(--breadcrumb-text);
  
  transition: color 0.3s ease;

}
.categories_nav p {
  font-size: 16px;
  font-weight: 500;
  color: var(--breadcrumb-text);
}
.categories_nav:hover {
  background-color: #ececec;
}
.categories_nav .categories_navP {
  color: var(--breadcrumb-text);
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.categories_line {
  width: 15px;
  border-bottom: 1px solid var(--breadcrumb-border);
}



@media (max-width: 1200px) {
  .categories_nav p {
    font-size: 14px;
  }
  .categories_line {
    width: 10px;
  }
  .categories_nav {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@media (max-width: 922px) {
  .categories_nav p {
    font-size: 12px;
  }
  .categories_line {
    width: 6px;
  }
  .categories_nav {
    padding: 6px 10px;
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .categories_nav .categories_navP {
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .breadcrumbLink {
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


@media (max-width: 480px) {
  .categories_nav p {
    font-size: 10px;
  }
  .categories_line {
    width: 6px;
  }
  .categories_nav {
    padding: 4px 8px;
    font-size: 10px;
  }
}

